Repository rollkit/rollkit, pull requests merged in 2023-04, with the labels that each got.

#837 feat: refactor CI/CD
  .github/dependabot.yml
  .github/workflows/docker-build-da-mockserv.yml
  .github/workflows/docker-build-ethermint-debug.yml
  .github/workflows/docker-build-test-ethermint.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  .markdownlint.yaml
  docker/mockserv.Dockerfile
  docs/lazy-adr/adr-008-mempool-optimint-light-client.md
Labels: C:ci, github_actions

#769 Update readme and add tendermint types.pb.go to gitignore
  .gitignore
  README.md
Labels: T:dev-usability-and-ux

#779 Use `proxyApp` instead of abciclient.Client in node clients
  node/full.go
  node/full_client.go
  node/full_client_test.go
  node/full_node_integration_test.go
  node/full_node_test.go
  node/header_exchange.go
  node/light.go
  node/node.go
  rpc/json/service_test.go
Labels: T:dev-usability-and-ux

#827 Support based rollups + centralized sequencer to based rollup integration test
  block/manager.go
  node/full_client_test.go
  state/executor.go
  store/store.go
  types/validation.go
Labels: T:testing, C:store, C: sequencing
